{%- assign tool_ids = include.ids | split: ", " %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ include.col | default: 2 }} g-4 mb-5 navigation-tiles">
    {%- assign tool_pages = site.pages | where:"type", "tool" %}
    {%- for tool_page in tool_pages %}
    {%- assign page_id = tool_page.title | slugify %}
    {%- if tool_ids contains page_id %}
    <div class="col">
        <div class="card h-100">
            {%- if tool_page.page_img %}
            <div class="d-flex">
            {%- endif %}
            <div class="card-body d-flex flex-column">
                <div class="d-flex align-items-center">
                    {%- if tool_page.type_img %}
                    <img src="{{tool_page.type_img | relative_url}}" class="type-icon me-2" alt="{{tool_page.type}} icon">
                    {%- endif %}
                    {%- if tool_page.type %}
                    <span class=""><small>{{tool_page.type | replace: "_", " " | capitalize }}</small></span>
                    {%- endif %}
                </div>
                <a class="stretched-link section-title" aria-label="Go to the {{tool_page.title}} page" href="{{ tool_page.url | relative_url }}">
                    <b>{{tool_page.title}}</b>
                </a>
                {%- if tool_page.description %}
                <p class="card-text h-100">{{ tool_page.description}}</p>
                {%- endif %}
                {%- if tool_page.domain %}
                {%- assign pagedomains = tool_page.domain | sort %}
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <span><b><small>Domains:</small></b></span>
                    {%- for domain in pagedomains %}
                    <span class="badge bg-primary">{{domain}}</span>
                    {%- endfor %}
                </div>
                {%- endif %}
                {%- if tool_page.phase %}
                {%- assign pagephases = tool_page.phase | sort %}
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <span><b><small>Phases:</small></b></span>
                    {%- for phase in pagephases %}
                    <span class="badge bg-secondary">{{phase}}</span>
                    {%- endfor %}
                </div>
                {%- endif %}
            </div>
            {%- if tool_page.page_img %}
            {%- capture file_url -%}
            {{ "/images/" | append: tool_page.page_img | relative_url }}
            {%- endcapture -%}
                <img alt="logo of {{tool_page.title}}" src="{{ file_url }}" class="page-img-sm pt-3 pe-3" />
            </div>
            {%- endif %}
        </div>
    </div>
    {%- endif %}
    {%- endfor %}
</div>